figure {
  text-align: center;
  margin: 0;
}
img {
  display: inline-block;
  max-width: 100%;
  margin: 1rem auto;
}
figcaption {
  margin-top: -0.5rem;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: $background-color;
}
header {
  max-width: $container-width;
  margin: 0 auto;
  text-align: center;
  @include pc-only {
    padding-top: 4rem;
  }
  .site-title {
    @include font-d();
    font-weight: lighter;
    text-decoration: none;
    color: $font-color-primary;
    @include sp-only {
      font-size: 2rem;
    }
    @include pc-only {
      font-size: 3rem;
    }
  }
  .menu {
    display: inline-block;
    padding: 0;
    border-top: $border-style;
    border-bottom: $border-style;
    @include sp-only {
      margin: 0;
    }
    @include pc-only {
      margin-top: 2rem;
    }
  }
  .menu-item {
    display: inline-block;
    margin: 0.5rem 1rem;
    list-style-type: none;
    & > a {
      text-decoration: none;
      color: $font-color-secondary;
      &:hover {
        color: #111;
      }
    }
    &.is-active > a {
      color: #111;
    }
  }
}
footer {
  max-width: $container-width;
  margin: 3rem auto;
  text-align: center;
  font-size: 0.8rem;
  .copyright {
    margin-top: 2rem;
  }
}
main {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1rem;
}
.social-icon {
  display: inline-block;
  margin: 1rem 1rem 0;  
}
.divider,
hr {
  max-width: $divider-width-sm;
  border-top: none;
  border-bottom: $border-style;
  @include sp-only {
    margin: $divider-margin-sp auto;
  }
  @include pc-only {
    margin: $divider-margin-pc auto;
  }
}
.divider-sm {
  max-width: $divider-width-sm;
  border-bottom: $border-style;
}
.divider-lg {
  max-width: $divider-width-lg;
  border-bottom: $border-style;
}
.email > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: $font-color-secondary;
}
.top {
  max-width: $container-width;
  margin: 0 auto;
}
.snippets {
  max-width: $container-width;
  margin: 0 auto;
}
.snippet-header {
  text-align: center;
}
.snippet-title {
  font-size: 1.1rem;
  text-decoration: none;
  color: #333;
  font-weight: normal;
}
.snippet-date {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: $font-color-secondary;
}
.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.pagination-item > svg {
  height: 1.5rem;
  margin: 0 1rem;
  fill: #666;
  &:hover {
    fill: #111;
  }
}
#disqus_thread {
  margin-top: 4rem;
}
